# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS Finder files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/

# Unit test / coverage reports
htmlcov/
*.cover
*.py,cover
.cache

# Environment variables or credentials
.env
